* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .sub_logo {
  margin-top: 16px;
  max-width: 100%;
}

.subheader .sub_official {
  margin-top: 16px;
  display: inline-block;
}

.subheader .sub_text {
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
}

.subheader .sub_text2 {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader .sub_number {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subheader .sub_button {
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  margin-top: 19px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader .sub_button:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
  padding: 150px 0px 135px 0;
}

.promo_header {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  margin: 0;
}

.promo .promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
}

.promo .promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo .promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  padding: 5px 12px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  margin-top: 38px;
}

.reason {
  padding: 71px 0 65px 0;
}

.reason .reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.reason .ellipse_1 {
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  margin: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.reason .reasons_descr {
  width: 343px;
}

.reason .reasons_descr .reason_subtitle {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

.reason .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  padding-top: 92px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

.mobile_item_1 {
  background: url("../img/bg/mobile_screen_1.png") center center/cover no-repeat;
  margin-top: 32px;
}

.mobile_item_2 {
  background: url("../img/bg/mobile_screen_2.png") center center/cover no-repeat;
  margin-top: 32px;
}

.mobile_item_3 {
  background: url("../img/bg/mobile_screen_3.png") center center/cover no-repeat;
  margin-top: 32px;
}

.mobile_item_4 {
  background: url("../img/bg/mobile_screen_4.png") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile_item_5 {
  background: url("../img/bg/mobile_screen_5.png") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile_item_6 {
  background: url("../img/bg/mobile_screen_6.png") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 219px;
  left: 147px;
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
  margin: 0 auto;
  padding: 6px;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  margin: auto;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_item_plus:after {
  content: '';
  position: absolute;
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ffffff;
}

.label_white {
  background-color: white;
  color: #070716;
}

.title_white {
  color: #ffffff;
}

.title_white_choice {
  margin: 0;
  margin-top: 32px;
}

.subtitle_white {
  color: #ffffff;
}

.subtitle_white_choice {
  margin-top: 19px;
}

.choice {
  position: relative;
  height: 895px;
  background: url("../img/bg/choice_2.png") center center/cover no-repeat;
}

.choice .black {
  background: url("../img/bg/choice.png") center center/cover no-repeat;
  height: 499px;
  padding: 57px 0 138px 0;
}

.choice .ellipse {
  margin-top: 20px;
  margin-left: 255px;
}

.choice .ellipse img {
  width: 583px;
  height: 267px;
}

.choice .mobil {
  position: absolute;
  top: 365px;
  left: 170px;
}

.choice .uber {
  position: absolute;
  top: 263px;
  left: 500px;
}

.choice .text_choice {
  margin-top: 217px;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.require {
  padding: 68px 0 51px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_left {
  margin-left: 40px;
}

.require_block_left_2 {
  margin-left: 130px;
}

.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/tick_blue.png") center center/cover no-repeat;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li:before {
  background: url("../icons/tick_red.png") center center/cover no-repeat;
}

.require_descr {
  color: #1ca8c3;
  font-weight: 300;
}

.world {
  height: 717px;
}

.world .blue {
  height: 717px;
  background-color: #080816;
}

.world .map {
  max-width: 1440px;
  height: 717px;
  background: url("../img/map.png") center center/cover no-repeat;
  margin: auto;
  padding: 49px 0;
}

.world .blue_label {
  color: #1fbad6;
  text-align: center;
  margin-top: 440px;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
}

.footer {
  min-height: 156;
  width: 100%;
  background-color: black;
  margin-top: 300px;
}

.blue_line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 14px auto 34px auto;
}

.main_pages_links {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  width: 375px;
  margin: auto;
}

.main_pages_links a {
  color: #070716;
}

.main_pages_links .link_center {
  margin: 0 47px 0 47px;
}

.minor_pages_links {
  font-size: 11px;
  font-weight: 300;
  line-height: 68px;
  text-transform: uppercase;
  width: 400px;
  margin: auto;
}

.minor_pages_links a {
  color: #999999;
}

.minor_pages_links .link_left {
  margin-left: 20px;
}

.rus {
  width: 55px;
  margin: auto;
  margin-bottom: 31px;
}

.rus .name_ln {
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer_line {
  height: 8px;
  background-color: #070716;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reasons_text {
    width: 280px;
  }
  .ellipse_1 {
    width: 90px;
    height: 90px;
  }
  .ellipse_1 img {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader .sub_logo img {
    width: 12%;
  }
  .subheader .sub_official img {
    width: 180px;
  }
  .subheader .sub_text {
    font-size: 11px;
  }
  .subheader .sub_number {
    font-size: 20px;
  }
  .subheader .sub_button {
    width: 100%;
    height: 40px;
    margin-top: 21px;
    font-size: 14px;
  }
  .promo .promo_header {
    font-size: 41px;
  }
  .promo .promo_subheader {
    font-size: 30px;
  }
  .promo .promo_descr {
    font-size: 17px;
  }
  .promo .promo_btn {
    width: 250px;
    height: 60px;
    margin: 75px auto 0 auto;
  }
  .reason .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reason .reasons_descr {
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6 all;
    transition: 0.6 all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */